[submodule "src/ros_ht_msg"]
	path = src/ros_ht_msg
	url = https://github.com/hmxf/ros_ht_msg
[submodule "src/ros_modbus_msg"]
	path = src/ros_modbus_msg
	url = https://github.com/hmxf/ros_modbus_msg
[submodule "src/ros_bms_msg"]
	path = src/ros_bms_msg
	url = https://github.com/hmxf/ros_bms_msg
